user_uuid="c34f24aa-28fa-4310-b261-91b31bf734af"
bucket_name="random-bubb"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"